@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #000000;
  font-family: "HelveticaNeue";
}

.text-hero {
  font-size: 10em;
}

.text-large {
  font-size: 7em;
}
@media only screen and (max-width: 1024px) {
  .text-hero {
    font-size: 3em;
  }

  .text-large {
    font-size: 2.5em;
  }

  .hero-screen {
    min-height: 400px;
  }
  .plus {
    padding-right: 10px;
    top: -2px;
  }
}
