@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  background: #000000;
  font-family: "HelveticaNeue";
}

.text-hero {
  font-size: 12vw;
}

.text-large {
  font-size: 12vw;
}
.plus {
  padding-right: 10px;
  top: -10px;
  font-weight: lighter;
}

.price-tag {
  font-size: 3vw;
}

.hero-screen {
  min-height: 800px;
}

.video-screen {
  min-height: 100vh;
}

.video-screen #my-video {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .video-screen {
    min-height: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .text-large {
    font-size: 2.5em;
  }

  .hero-screen {
    min-height: 400px;
  }

  .video-screen {
    min-height: 400px;
  }

  .plus {
    padding-right: 10px;
    top: -2px;
  }

  .price-tag {
    font-size: 7vw;
  }
}

.bg-gray-dark {
  background: #191919;
}

.link {
  font-weight: lighter;
}

.link:hover {
  border-bottom: solid 2px;
  border-color: rgba(255, 255, 255, 0.2);
}
